# Application Server
PORT=3333
HOST=0.0.0.0
NODE_ENV=development

# Database Connection (SQLite)
DATABASE_URL="file:./dev.db"

# CORS
CORS_ORIGIN="http://localhost:5173"

# JWT Authentication
JWT_SECRET="supersecret-ordem-servico-jwt-key-2026-development-only"
JWT_EXPIRES_IN="8h"
